# .gitignore

# python stuff to be ignored
__pycache__/
*.py[cod]
*$py.class

# jupyter notebooks stuff to be ignored
.ipynb_checkpoints/

# vscode stuff
.vscode/

# CLAUDE
.claude

# API keys - keep private
fred.api
EIA-API-KEY.txt
KEYS/

# MacOS stuff to be ignored
.DS_Store

# unnecessary detail to be ignored
.sdmxabs_cache/
.readabs_cache/
CACHE/
CHARTS/**
LOGS/
scratch/

